*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#preloader{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #fff url(loader.gif) no-repeat center;
  z-index: 9999;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@font-face{
  font-family:china;
  src:url(go3v2.ttf);
}

@font-face{
  font-family: fancy;
  src:url(Roboto-Bold.ttf);
}

/*-----------------BODY-HEADER------------------------------------------*/

.BODY-HEADER{
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}


/*-----------------BODY-HEADER-DIV-1------------------------------------------*/

.BODY-HEADER-DIV-1{
  display: flex;
  transform: translate(2rem, 1.5rem);
 /* transform: translateY(.1rem);
 background: blue;*/
 align-items: center;
}
.BODY-HEADER-DIV-1 li{
  font-size: 4rem;
  font-family: china;
  cursor: pointer;
}

.BODY-HEADER-DIV-1 li a{
  color: #535958;
  text-decoration: none;
  cursor: pointer;
}

/*-----------------BODY-HEADER-DIV-2------------------------------------------*/

.BODY-HEADER-DIV-2{
  display: flex;
  justify-content: space-evenly;
  transform: translatey(1.5rem);
  font-size:2rem;
  font-family: fancy;
  align-items: center;
  /*font-family: 'Viaoda Libre', cursive;*/
}

.BODY-HEADER-DIV-2 li{
  display:flex;
  padding: 0rem 2rem;
  height: 3.5rem;
  align-items: center;
  transition: all .4s;
  cursor: pointer;
}

.BODY-HEADER-DIV-2 li:hover{
  box-shadow: 1rem 1rem 1rem #707076;
  background-image: linear-gradient(120deg, #E9154B9E 50%, transparent 50%);
}

.BODY-HEADER-DIV-2 li a{
  text-decoration: none;
  color:#535958;
  transition: all .3s;
  cursor: pointer;
}

.BODY-HEADER-DIV-2 li a:hover{
  color: #262827;
}

/*-----------------BODY-SECTION------------------------------------------*/


/*-----------------BODY-SECTION-DIV-1------------------------------------------*/
.body-section-div-1{
  display: flex;
  width: 100vw;
  height: 20rem;
  justify-content: space-around;
  transform: translateY(5rem);
  font-size: 3.1rem;
  background: linear-gradient(to bottom left, #F9F9F9 0%,#FF0000 100%);
 /* background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);*/
}

.body-section-div-1 P{
  color: #FAF6F6;
  transform: translatey(3rem);
  height: 10rem;
  width: 30.3rem;
  text-align: center;
  font-family: 'Viaoda Libre', cursive;
}

.body-section-div-1 img{
  border-radius: 3rem;
  box-shadow: 2rem 2rem 3.3rem;
  /*transform: translateX(10rem);*/
}

/*-----------------BODY-SECTION-DIV-2-----------------------------------------*/
.body-section-div-2{
  transform: translate(18rem ,15rem);
  display: block;
  height: 95rem;
  width: 74.8rem;
  font-size: 3rem;
  box-shadow: 2rem 2rem 5rem;
}

.body-section-div-2 img{
  display: flex;
  margin: auto;
  padding-top: 4.7rem;
}


.body-section-div-2 P{
  color: white;
  text-align: center;
  background: blue;
  transform: translateY(2.8rem);
  font-family: fancy;
}

/*-----------------BODY-SECTION-DIV-3-----------------------------------------*/

.body-section-div-3{
  box-shadow: 2rem 5rem 2rem;
  background: linear-gradient(to right,red,blue);
  color: #616163;
  width:100rem;
  height: 30rem;
  transform: translate(5.5rem, 27rem);
  font-size: 3.5rem;
  font-family: 'Viaoda Libre', cursive;
  box-shadow: 2rem 2rem 2rem #4c4c4c;
  text-align: justify;
}

.body-section-div-3 P{
  transform: translateY(2.5rem);
  background:white;
}



/*-------------ABOUT-SECTION----------------------------------------*/

.about-section{
 transform: translatey(50rem);
 display: block;
}

/*-------------ABOUT-SECTION-DIV-1--------------------------------------*/

.about-section-title{
  display: flex;
  width: 74.8rem;
  height: 5rem;
  transform: translate(18rem , -2rem);
  justify-content: center;
  align-items: center;
}

.about-section-title p{
  color: #625858;
  font-size: 6rem;
  font-family: cursive;
  padding: 0rem 3rem;
  text-shadow: .6rem .5rem .7rem #9B9292;
}

/*-------------ABOUT-SECTION-DIV-2----------------------------------------*/
.about-section-image{
  transform: translate(18rem, 5rem);
  display: block;
  height: 75rem;
  width: 74.8rem;
  font-size: 3rem;
  box-shadow: 2rem 2rem 5rem;
}

.about-section-image img{
  width: 65rem;
  height: 65rem;
  display: flex;
  margin: auto;
  padding-top: 4.7rem;
}

.about-section-image p{
  color: white;
  text-align: center;
  background: blue;
  transform: translateY(3.5rem);
  font-family: fancy;
}

/*-------------ABOUT-SECTION-DIV-3---------------------------------------*/

.about-section-para{
  box-shadow: 2rem 5rem 2rem;
  background: linear-gradient(to right,red,blue);
  color: #616163;
  width:100rem;
  height: 15rem;
  transform: translate(5.5rem, 19rem);
  font-size: 3.5rem;
  font-family: 'Viaoda Libre', cursive;
  box-shadow: 2rem 2rem 2rem #4c4c4c;
  text-align: justify;
  margin-bottom: 80rem;
}

.about-section-para p{
  transform: translateY(2.5rem);
  background:white;
}

.about-section-para p a{
  text-decoration: none;
  color:#616163;
  padding: 0rem 2rem;
  transition: all .5s;
}

.about-section-para p a:hover{
  box-shadow: 1rem 1rem 1rem;
}

/*<!----------end-part-------->*/

 @media(max-width:1920px) {
   html {
     font-size: 55%;
   }media
 }
 
 @media(max-width:760px) {
   html {
     font-size: 45%;
   }
   
       /*---------mobile--------BODY-SECTION-----------------------*/
  .BODY-HEADER-DIV-1{
   transform: translate(1rem ,.8rem);
  }
   
   .BODY-HEADER-DIV-1 li{
  font-size: 2rem;
  }
  
  .BODY-HEADER-DIV-2{
    transform: translatey(.85rem);
  }
  
   .BODY-HEADER-DIV-2 li{
   font-size: 1rem;
     padding:0rem 1rem;
     height:1.8rem;
 }
 
 /*---------mobile--------BODY-SECTION-DIV-1------------------------------------------*/
 .body-section-div-1 {
   display: flex;
   width: 100vw;
   height: 10rem;
   font-size:1.5rem ;
   transform: translateY(1.5rem);
 }
 
 .body-section-div-1 img {
   border-radius: 1.5rem;
   box-shadow: 1rem 1rem 1.6rem;
 }
 
 .body-section-div-1 P {
   color: #FAF6F6;
   transform: translatey(1.5rem);
   height: 5rem;
   width: 15.3rem;
   text-align: center;
   font-family: 'Viaoda Libre', cursive;
 }
 
  /*---------mobile--------BODY-SECTION-DIV-2------------------------------------------*/
 
 .body-section-div-2{
  transform: translate(8rem, 7rem);
  display: block;
  height: 41rem;
  width: 33rem;
  font-size: 1.5rem;
  box-shadow: 1rem 1rem 2.5rem;
}

.body-section-div-2 img{
  display: flex;
  margin: auto;
  padding-top: 2rem;
  width:28.8rem ;
  height:36rem;
}


.body-section-div-2 P{
  color: white;
  text-align: center;
  background: blue;
  transform: translateY(1.7rem);
  font-family: fancy;
}

 /*---------mobile--------BODY-SECTION-DIV-3------------------------------------------*/
.body-section-div-3 {
  box-shadow: 1rem 2.5rem 1rem;
  background: linear-gradient(to right, red, blue);
  color: #616163;
  width: 44rem;
  height: 14rem;
  transform: translate(2.8rem, 12rem);
  font-size: 1.6rem;
  font-family: 'Viaoda Libre', cursive;
  box-shadow: 1rem 1rem 1rem #4c4c4c;
  text-align: justify;
}

.body-section-div-3 P {
  transform: translateY(1.4rem);
  background: white;
}

/*-------------ABOUT-SECTION----------------------------------------*/

.about-section {
  transform: translatey(25rem);
  display: block;
}

/*-------------ABOUT-SECTION-DIV-1--------------------------------------*/

.about-section-title {
  display: flex;
  width: 33rem;
  height: 2.5rem;
  transform: translate(8rem, -1rem);
  justify-content: center;
  align-items: center;
}

.about-section-title p {
  color: #625858;
  font-size: 3rem;
  font-family: cursive;
  padding: 0rem 1.5rem;
  text-shadow: .3rem .25rem .35rem #9B9292;
}

/*-------------ABOUT-SECTION-DIV-2----------------------------------------*/
.about-section-image {
  transform: translate(8rem, 2.5rem);
  display: block;
  height: 34rem;
  width: 33rem;
  font-size: 1.5rem;
  box-shadow: 1rem 1rem 2.5rem;
}

.about-section-image img {
  width: 30rem;
  height: 30rem;
  display: flex;
  margin: auto;
  padding-top: 1.5rem;
}

.about-section-image p {
  color: white;
  text-align: center;
  background: blue;
  transform: translateY(1.8rem);
  font-family: fancy;
}

/*-------------ABOUT-SECTION-DIV-3---------------------------------------*/

.about-section-para {
  box-shadow: 1rem 2.5rem 1rem;
  background: linear-gradient(to right, red, blue);
  color: #616163;
  width: 44rem;
  height: 7.5rem;
  transform: translate(2.75rem, 9.5rem);
  font-size:1.6rem;
  font-family: 'Viaoda Libre', cursive;
  box-shadow: 1rem 1rem 1rem #4c4c4c;
  text-align: justify;
  margin-bottom: 40rem;
}

.about-section-para p {
  transform: translateY(1.25rem);
  background: white;
}

.about-section-para p a {
  text-decoration: none;
  color: #616163;
  padding: 0rem 1rem;
  transition: all .5s;
}

.about-section-para p a:hover {
  box-shadow: .5rem .5rem .5rem;
}
   
 }


/*-------------i-pad & tablets----------------------------------------------*/

@media (max-width:1366px){
  
  
  html{
    font-style: 65%;
  }
  
   /*---------pad--------BODY-SECTION-----------------------*/
  
 
 /*---------mobile--------BODY-SECTION-DIV-1------------------------------------------*/
 
 
  /*---------mobile--------BODY-SECTION-DIV-2------------------------------------------*/
 
.body-section-div-2{
       transform: translatey( 12rem);
       width:100vw;
       height:44rem;
  }

.body-section-div-2 img{
  display: flex;
  margin: auto;
  padding-top: 2rem;
  width:28.8rem ;
  height:36rem;
}


.body-section-div-2 P{
  color: white;
  text-align: center;
  background: blue;
  transform: translateY(1.5rem);
  font-family: fancy;
}

 /*---------mobile--------BODY-SECTION-DIV-3------------------------------------------*/
.body-section-div-3 {
  background: linear-gradient(to right, red, blue);
  color: #616163;
  width: 80vw;
  height: 14.5rem;
  transform: translatey( 18rem);
  font-size: 2rem;
  font-family: 'Viaoda Libre', cursive;
  box-shadow: 1rem 1rem 1rem #4c4c4c;
  text-align: justify;
  margin: auto;
}

.body-section-div-3 P {
  display: flex;
  align-items: center;
  background: white;
}

/*-------------ABOUT-SECTION----------------------------------------*/

.about-section {
  transform: translatey(40rem);
  display: block;
  width: 100vw;
}

/*-------------ABOUT-SECTION-DIV-1--------------------------------------*/

.about-section-title {
  display: flex;
  width: 100vw;
  height: 3rem;
  transform: translatey( -1rem);
  justify-content: center;
  align-items: center;
}

.about-section-title p {
  color: #625858;
  font-size: 3rem;
  font-family: cursive;
  padding: 0rem 1.5rem;
  text-shadow: .3rem .25rem .35rem #9B9292;
}

/*-------------ABOUT-SECTION-DIV-2----------------------------------------*/
.about-section-image {
  transform: translatey(2.5rem);
  display: block;
  height: 34rem;
  width: 100vw;
  font-size: 2rem;
}

.about-section-image img {
  width: 30rem;
  height: 30rem;
  margin: auto;
  padding-top: 1.5rem;
 
}

.about-section-image p {
  color: white;
  display: flex;
  text-align: center;
  justify-content:center;
  background: blue;
  transform: translateY(1.5rem);
  font-family: fancy;
}

/*-------------ABOUT-SECTION-DIV-3---------------------------------------*/

.about-section-para {
  background: linear-gradient(to right, red, blue);
  color: #616163;
  width: 80vw;
  height: 8rem;
  transform: translatey(9.5rem);
  font-size:2rem;
  font-family: 'Viaoda Libre', cursive;
  box-shadow: 1rem 1rem 1rem #4c4c4c;
  text-align: justify;
  margin: auto;
  margin-bottom: 40rem;
}

.about-section-para p {
  transform: translateY(1.25rem);
  background: white;
}

.about-section-para p a {
  text-decoration: none;
  color: #616163;
  padding: 0rem 1rem;
  transition: all .5s;
}

.about-section-para p a:hover {
  box-shadow: .5rem .5rem .5rem;
}
 
 }


@media (max-width:414px){
       
        .about-section{
         transform: translatey(60rem);
          }
  
       .about-section-para{
         font-size:1.5rem;
         margin-bottom:50rem;
         }
      
          .body-section-div-3{
            width:80vw;
            margin:auto;
            transform: translatey(27rem);
            font-size: 1.5rem;
            display:flex;
            justify-content:center;
            }
      
   }
  
  
