*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@font-face{
  font-family:china;
  src:url(go3v2.ttf);
}

@font-face{
  font-family: fancy;
  src:url(Roboto-Bold.ttf);
}

/*-----------------BODY-HEADER------------------------------------------*/

.BODY-HEADER{
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}


/*-----------------BODY-HEADER-DIV-1------------------------------------------*/

.BODY-HEADER-DIV-1{
  display: flex;
  transform: translate(2rem, 1.5rem);
 /* transform: translateY(.1rem);
 background: blue;*/
 align-items: center;
}
.BODY-HEADER-DIV-1 li{
  font-size: 4rem;
  font-family: china;
  cursor: pointer;
}

.BODY-HEADER-DIV-1 li a{
  color: #535958;
  text-decoration: none;
  cursor: pointer;
}

/*-----------------BODY-HEADER-DIV-2------------------------------------------*/

.BODY-HEADER-DIV-2{
  display: flex;
  justify-content: space-evenly;
  transform: translatey(1.5rem);
  font-size:2rem;
  font-family: fancy;
  align-items: center;
  /*font-family: 'Viaoda Libre', cursive;*/
}

.BODY-HEADER-DIV-2 li{
  display:flex;
  padding: 0rem 2rem;
  height: 3.5rem;
  align-items: center;
  transition: all .4s;
  cursor: pointer;
}

.BODY-HEADER-DIV-2 li:hover{
  box-shadow: 1rem 1rem 1rem #707076;
}

.BODY-HEADER-DIV-2 li a{
  text-decoration: none;
  color:#535958;
  transition: all .3s;
  cursor: pointer;
}

.BODY-HEADER-DIV-2 li a:hover{
  color: #262827;
}

/*-----------------BODY-SECTION------------------------------------------*/


/*-----------------BODY-SECTION-DIV-1------------------------------------------*/
.body-section-div-1{
  display: flex;
  width: 100vw;
  height: 20rem;
  justify-content: space-around;
  transform: translateY(5rem);
  font-size: 3.1rem;
  background: linear-gradient(to bottom left, #F9F9F9 0%,#FF0000 100%);
 /* background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);*/
}

.body-section-div-1 P{
  color: #FAF6F6;
  transform: translatey(3rem);
  height: 10rem;
  width: 30.3rem;
  text-align: center;
  font-family: 'Viaoda Libre', cursive;
}

.body-section-div-1 img{
  border-radius: 3rem;
  box-shadow: 2rem 2rem 3.3rem;
  /*transform: translateX(10rem);*/
}

/*-----------------BODY-SECTION-DIV-2-----------------------------------------*/
.body-section-div-2{
  transform: translate(18rem ,15rem);
  display: block;
  height: 95rem;
  width: 74.8rem;
  font-size: 3rem;
  box-shadow: 2rem 2rem 5rem;
}

.body-section-div-2 img{
  display: flex;
  margin: auto;
  padding-top: 4.7rem;
}


.body-section-div-2 P{
  color: white;
  text-align: center;
  background: blue;
  transform: translateY(2.8rem);
  font-family: fancy;
}

/*-----------------BODY-SECTION-DIV-3-----------------------------------------*/

.body-section-div-3{
  box-shadow: 2rem 5rem 2rem;
  background: linear-gradient(to right,red,blue);
  color: #616163;
  width:100rem;
  height: 30rem;
  transform: translate(5.5rem, 27rem);
  font-size: 3.5rem;
  font-family: 'Viaoda Libre', cursive;
  box-shadow: 2rem 2rem 2rem #4c4c4c;
  text-align: justify;
}

.body-section-div-3 P{
  transform: translateY(2.5rem);
  background:white;
}



/*-------------ABOUT-SECTION----------------------------------------*/

.about-section{
 transform: translatey(50rem);
 display: block;
}

/*-------------ABOUT-SECTION-DIV-1--------------------------------------*/

.about-section-title{
  display: flex;
  width: 74.8rem;
  height: 5rem;
  transform: translate(18rem , -2rem);
  justify-content: center;
  align-items: center;
}

.about-section-title p{
  color: #625858;
  font-size: 6rem;
  font-family: cursive;
  padding: 0rem 3rem;
  text-shadow: .6rem .5rem .7rem #9B9292;
}

/*-------------ABOUT-SECTION-DIV-2----------------------------------------*/
.about-section-image{
  transform: translate(18rem, 5rem);
  display: block;
  height: 75rem;
  width: 74.8rem;
  font-size: 3rem;
  box-shadow: 2rem 2rem 5rem;
}

.about-section-image img{
  width: 65rem;
  height: 65rem;
  display: flex;
  margin: auto;
  padding-top: 4.7rem;
}

.about-section-image p{
  color: white;
  text-align: center;
  background: blue;
  transform: translateY(3.5rem);
  font-family: fancy;
}

/*-------------ABOUT-SECTION-DIV-3---------------------------------------*/

.about-section-para{
  box-shadow: 2rem 5rem 2rem;
  background: linear-gradient(to right,red,blue);
  color: #616163;
  width:100rem;
  height: 15rem;
  transform: translate(5.5rem, 19rem);
  font-size: 3.5rem;
  font-family: 'Viaoda Libre', cursive;
  box-shadow: 2rem 2rem 2rem #4c4c4c;
  text-align: justify;
  margin-bottom: 80rem;
}

.about-section-para p{
  transform: translateY(2.5rem);
  background:white;
}

.about-section-para p a{
  text-decoration: none;
  color:#616163;
  padding: 0rem 2rem;
  transition: all .5s;
}

.about-section-para p a:hover{
  box-shadow: 1rem 1rem 1rem;
}

/*<!----------end-part-------->*/

 @media(max-width:998px) {
   html {
     font-size: 55%;
   }
 }
 
 @media(max-width:768px) {
   html {
     font-size: 45%;
   }
 }